<% if @enrollment != nil%>
<h1>Enroll successfully!</h1>
You has enrolled in <%= @enrollment.course_name%> from <%= @enrollment.subject_name%>.
<%else%>
<h1>Don't make repeated enrollment!</h1>
You have already enrolled in this course!
<%end%>
